
.middle-sect__category {
  margin-right: 10px;
}

.icons .bx {
  font-size: 30px;

  &:nth-child(2) {
    margin-left: 20px;
  }
}

.bx-search {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width:880px) {
  .search-form {
    display: none;
  }

  .bx-search {
    display: block;
  }
}